.product{
  border: 2px solid sandybrown;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}

.cart-btn{
  background: #2173ff;
  color: white;
  padding: 7px 15px;
  margin: 0 10px;
  border: 0;
  border-radius: 5px;
  font-size: 15px;
}